h1 {
    color: #2F4F4F !important;
}

p{
    color: #888 !important;
}

div.card-header {
    background-color: #fff;
    color: #2F4F4F !important;
}

.card-body{
    color: #888 !important;
}

.list-group-item{
    color: #888 !important;
}

.btn-primary {
    background-color: #A4D1C3 !important;
    border-color: #A4D1C3 !important;
    color: #ffffff !important; /* 設定文字顏色 */
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #8fb9aa !important; /* 滑鼠懸停的顏色 */
    border-color: #8fb9aa !important;
}

.bg-primary {
    background-color: #A4D1C3 !important
}

